<h1>Pizza Form</h1>
<% if @pizza.errors.any? %>
<div id ='error_expenation'>
<h2>errors found:</h2>
<ul>
    <% @pizza.errors.full_messages.each do |m| %>
    <li> <%= m %></li>
    <% end %>
</ul>
</div>


<%= form_for @pizza do |f| %>
<%= f.label 'name' %>
<%= f.text_field :name %><br/>

<%= f.label 'ingredients' %>
<%= f.text_field :ingredients %><br/>


<<%= f.collection_select :restaurant, Restaurant.all ,:restaurant_id, :restaurant_id %>

<%=f.submit'save' %>
<% end %>


<!-- Add controller actions and views necessary to show a form to create a new pizza. The form should have:

- an input for the name
- an input for the ingredients
- a dropdown to select an existing restaurant
- a button to save the Pizza

After submitting, the user should be redirected to the new Pizza's show page. -->
